body{
    font-size: large;
    font-family: Arial, sans-serif!important;
    background-color: #0f0e17!important;
}

.navbar {
    padding: 0.5% !important;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fffffe !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff8906;
    text-decoration: underline;
}

.navbar-dark .navbar-brand {
    color: #fffffe !important;
}

.navbar-brand {
    font-size: 40px !important;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #ff8906;
}

.navbar-collapse {
    text-align: center;
}

.nav-link {
    font-size: 24px !important;
}

.container-fluid {
    height: 100%;
}

.container-fluid h3{
    color: #fffffe;
    text-align: center;
}

.container-fluid .btn{
    background-color: #ff8906;
    border: 0;
    color: #fffffe;
}

.table-container {
    height: 15vh;
    overflow-y: auto;
}

.request-response-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 70vh;
}

.request-container, .response-container {
    flex-basis: 48%; /* Proporsi antara request dan response */
    margin: 0 1%;
    max-width: 48%;
}

.request-container {
    margin-right: 10px;
}

form .btn {
    margin-right: 10px;
    white-space: nowrap; /* Mencegah teks tombol membungkus */
    padding: 10px 20px;
    margin-bottom: 0!important;
}

.request-container h5, label{
    color: #fffffe;
}

textarea {
    height: 100%;
    font-family: monospace!important;
}

.response-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.response-content {
    flex: 1; /* Agar respons tumbuh dengan fleksibilitas */
    overflow: auto;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
    font-family: monospace;
}

.response-container h5{
    color: #fffffe;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f8f9fa;
    padding: 10px;
    max-height: 46vh;
    border: 1px solid #ddd;
}

#response-body {
    overflow: auto; /* or hidden */
    max-width: 100%;
    max-height: 46vh;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}
#response-body * {
    max-width: 100%;
}

.response-content {
    max-width: 100%;
    max-height: 100vh;
    overflow: auto;
}

.button-group {
    margin-bottom: 10px;
}

.button-group button {
    margin-right: 5px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Background overlay */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.table-container table tr:hover {
    background-color: #444;
}

#htmlResponseModal .modal-content iframe {
    max-height: 80vh; /* Sesuaikan dengan kebutuhan */
    width: 100%;
    border: none;
}

#documentationModal .modal-content {
    overflow-y: auto;
    max-height: 80vh;
    background-color: #fffffe;
    color: #0f0e17;
}

#documentationModal h3 {
    text-align: center;
    margin-bottom: 20px;
}

#documentationModal ul {
    list-style-type: none;
    padding: 0;
}

#documentationModal ul li {
    margin: 10px 0;
}

#documentationModal ul li a {
    color: #ff8906;
    text-decoration: none;
    font-size: 18px;
}

#documentationModal ul li a:hover {
    text-decoration: underline;
}


button {
    margin-right: 5px;
}

footer{
    position: sticky;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    color: #0f0e17;
    background-color: #fffffe;
    bottom: 0;
}

footer p{
    margin-bottom: 0!important;
}


@media (max-width: 768px) {
    .navbar-brand {
        font-size: 40px !important;
    }

    .nav-link {
        font-size: 20px !important;
    }

    .request-response-container {
        flex-direction: column;
    }

    .table-container, .request-container, .response-container {
        height: auto;
    }

    .request-container, .response-container {
        flex-basis: 100%;
        max-width: 100%;
    }

    textarea {
        height: 300px;
    }
}
